
.test-me {
    background-color: bisque;
    height:100vh;
}

.edit-student-heading {
    text-align: center;
    font-size: 270%;
}
.edit-student-blurb {
    text-align: center;
    font-size: 110%;
}



